@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
  padding-top: 60px;
}

/*Navigation Bar*/
.navbar-brand {
  font-family: Josefin Sans;
  font-size: 30px !important;
  font-weight: bold !important;
  font-style: italic;
  color: white !important;
}

.navbar-brand:hover {
  color: #39184D !important;
}

.navbar-style {
  padding: 0 !important;
  background-color: #73478E;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.container {
  max-width: 100% !important;
  padding: 10 !important;
}

.nav-link {
  color: white !important;
  font-family: Josefin Sans;
  font-size: 20px;
}

.nav-link:hover {
  color: #39184D !important;
}

/* Home Style */
#home {
  padding-top: 60px;
  background-color: #DBD2FF;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 20px solid #39184D;
}

#home-intro img {
  padding: 5px;
}

.name {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
}

.major {
  font-family: Josefin Sans;
  font-style: normal;
  font-size: 40px;
  color: #555555;
}

/* About Style */
#about {
  padding: 80px;
  background-color: #DBD2FF;
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 20px solid #39184D;
}

.about-title {
  font-family: Josefin Sans;
  font-size: 48px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.about-container {
  display: flex;
  padding: 5pw
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 25%;
  border: 4px solid white;
}

.introduction-container {
  display: flex;
  justify-content: center;
}

.introduction {
  font-family: Josefin Sans;
  font-size: 24px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 20px;
  max-width: 70%;
  align-items: center;
  background-color: #73478E;
  border-radius: 10px;
}

.button-style {
  color: white;
  font-family: Josefin Sans;
  font-size: 24px;
  position: absolute;
  background-color: #39184D;
  border-radius: 10px;
  padding: 10px;
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

@media (max-width: 700px) {
  .image-container {
    width: 100vw;
  }

  .introduction-container {
    width: 100vw;
    max-width: 100%;
    max-height: 40vh;
    overflow: auto;
    background-color: #73478E;
    border-radius: 10px;
  }
}

/* Skills Style */
#skills {
  padding: 80px;
  background-color: #DBD2FF;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  border-bottom: 20px solid #39184D;
}

.skills-title {
  font-family: Josefin Sans;
  font-size: 48px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.languages {
  background-color: #73478E;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}

.languages-header {
  font-family: Josefin Sans;
  font-weight: bold;
  font-size: 36px;
  color: white;
  text-align: left;
  font-weight: bold;
}

.languages-desc {
  font-family: Josefin Sans;
  font-size: 24px;
  color: white;
  text-align: left;
}

.tools {
  background-color: #543368;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}

.tools-header {
  font-family: Josefin Sans;
  font-weight: bold;
  font-size: 36px;
  color: white;
  text-align: left;
  font-weight: bold;
}

.tools-desc {
  font-family: Josefin Sans;
  font-size: 24px;
  color: white;
  text-align: left;
}

.lib-fw {
  background-color: #39184D;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}

.lib-fw-header {
  font-family: Josefin Sans;
  font-weight: bold;
  font-size: 36px;
  color: white;
  text-align: left;
  font-weight: bold;
}

.lib-fw-desc {
  font-family: Josefin Sans;
  font-size: 24px;
  color: white;
  text-align: left;
}

@media (max-width: 700px) {
  #skills {
    height: 100%;
  }
}

/* Projects Style */
#projects {
  padding: 80px;
  background-color: #DBD2FF;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border-bottom: 20px solid #39184D;
}

.projects-title {
  font-family: Josefin Sans;
  font-size: 48px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.personal-portfolio {
  background-color: #73478E;
  border-radius: 10px;
  padding: 10px;
}

.personal-port-title {
  font-family: Josefin Sans;
  font-size: 36px;
  color: white;
  text-align: left;
  font-weight: bold;
  font-style: italic;
}

.pers-port-img {
  width: 20%;
  border: 4px solid white;
  align-items: center;
}

.personal-port-desc {
  font-family: Josefin Sans;
  font-size: 24px;
  color: white;
  text-align: left;
  max-width: 80%;
  margin-top: 20px;
}

.figma-link {
  color: #DBD2FF;
}

.figma-link:hover {
  color: #39184D;
}

.virtual-bullet-journal {
  background-color: #543368;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.vbj-title {
  font-family: Josefin Sans;
  font-size: 36px;
  color: white;
  text-align: left;
  font-weight: bold;
  font-style: italic;
}

.vbj-desc {
  font-family: Josefin Sans;
  font-size: 24px;
  color: white;
  max-width: 80%;
}

.homework-task-tracker {
  background-color: #39184D;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.hwt-title {
  font-family: Josefin Sans;
  font-size: 36px;
  color: white;
  text-align: left;
  font-weight: bold;
  font-style: italic;
}

.hwt-desc {
  font-family: Josefin Sans;
  font-size: 24px;
  color: white;
  max-width: 80%;
}

@media (max-width: 700px) {
  #projects {
    height: 100%;
    width: 100%;
    overflow: auto;
  }
}