/*Navigation Bar*/
.navbar {
  background-color: #73478E;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-item {
  display: flex;
}

.nav-link {
  color: white;
  font-family: Josefin Sans;
  font-size: 24px;
}


/* Header Style */
h1 {
  font-family: Josefin Sans;
  font-size: 96px;
}