@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  padding-top: 60px;
}

/*Navigation Bar*/
.navbar-brand {
  font-family: Andika;
  font-size: 30px !important;
  font-weight: bold !important;
  font-style: italic;
  color: white !important;
}

.navbar-brand:hover {
  color: #39184D !important;
}

.navbar-style {
  padding: 0 !important;
  background-color: #73478E;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.container {
  max-width: 100% !important;
  padding: 10 !important;
}

.nav-link {
  color: white !important;
  font-family: Andika;
  font-size: 20px;
}

.nav-link:hover {
  color: #39184D !important;
}

/* Home Style */
#home {
  padding-top: 60px;
  background-color: #DBD2FF;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 20px solid #39184D;
}

#home-intro img {
  padding: 5px;
}

.name {
  font-family: Andika;
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
}

.major {
  font-family: Andika;
  font-style: normal;
  font-size: 40px;
  color: #555555;
}

/* About Style */

#about {
  background-color: #DBD2FF;
  padding: 80px;
  border-bottom: 20px solid #39184D;
}

.about-title {
  font-family: Andika;
  font-size: 48px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.profile-picture {
  width: 25%;
  border: 4px solid white;
}

.introduction {
  font-family: Andika;
  background-color: #73478E;
  padding: 10px;
  color: white;
  font-size: 24px;
  border-radius: 10px;
}

.intro-resume {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.button-style {
  color: white;
  font-family: Andika;
  font-size: 30px;
  background-color: #39184D;
  border-radius: 20px;
  padding: 10px;
}



@media (max-width: 1024px) {
  #about {
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .introduction {
    width: 90vw;
    max-width: 100%;
    max-height: 40vh;
    overflow: auto;
  }

  .profile-picture {
    width: 100%;
    display: block;
    margin: auto;
  }

  .intro-resume {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Skills Style */
#skills {
  padding: 80px;
  background-color: #DBD2FF;
  width: 100%;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  border-bottom: 20px solid #39184D;
}

.skills-title {
  font-family: Andika;
  font-size: 48px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.category-title {
  font-family: Andika;
  font-size: 30px;
  color: black;
  text-align: left;
  margin-bottom: 0;
}

.category {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
}

.languages {
  background-color: #73478E;
}

.tools {
  background-color: #543368;
}

.libraries-and-frameworks {
  background-color: #39184D;
}

.languages-title,
.tools-title,
.libraries-and-frameworks-title {
  font-family: Andika;
  font-size: 30px;
  color: black;
  text-align: left;
  margin-bottom: 0;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.logo-container p {
  font-family: Andika;
  color: white;
  text-align: center;
  margin-top: 12px;
  width: 100%;
}

.logo {
  height: 80px;
  width: auto;
}

.logo:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 1024px) {
  #skills {
    width: calc(100% - 0px);
    max-width: 100%;
    overflow: auto;
    margin: 0;
    padding: 10px;
  }

  .category {
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
  }

  .logo {
    width: auto;
    height: 50px;
    margin-right: 10px;
  }

  .logo-container p {
    font-size: 14px;
    text-align: center;
  }
}

/* Projects Style */
#projects {
  padding: 80px;
  background-color: #DBD2FF;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  border-bottom: 20px solid #39184D;
}

.projects-title {
  font-family: Andika;
  font-size: 48px;
  color: black;
  text-align: center;
  font-weight: bold;
  margin-bottom: 60px;
}

.personal-portfolio {
  background-color: #543368;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.personal-port-title {
  font-family: Andika;
  font-size: 36px;
  color: white;
  text-align: left;
  font-weight: bold;
  font-style: italic;
}

.pers-port-img {
  width: 20%;
  border: 4px solid white;
  align-items: center;
}

.personal-port-desc {
  font-family: Andika;
  font-size: 24px;
  color: white;
  text-align: left;
  max-width: 80%;
  margin-top: 20px;
}

.figma-link {
  color: #DBD2FF;
}

.figma-link:hover {
  color: #39184D;
}

.virtual-bullet-journal {
  background-color: #39184D;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.vbj-title {
  font-family: Andika;
  font-size: 36px;
  color: white;
  text-align: left;
  font-weight: bold;
  font-style: italic;
}

.vbj-desc {
  font-family: Andika;
  font-size: 24px;
  color: white;
  max-width: 80%;
}

.homework-task-tracker {
  background-color: #73478E;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.hwt-title {
  font-family: Andika;
  font-size: 36px;
  color: white;
  text-align: left;
  font-weight: bold;
  font-style: italic;
}

.hwt-desc {
  font-family: Andika;
  font-size: 24px;
  color: white;
  max-width: 80%;
}

@media (max-width: 1024px) {
  #projects {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 20px;
  }

  .projects-title {
    margin-bottom: 20px;
  }

  .personal-portfolio,
  .virtual-bullet-journal,
  .homework-task-tracker {
    width: 100%;
    max-width: 100%;
    max-height: 40vh;
    overflow: auto;
    border-radius: 10px;
  }
}

/* Experience Style */
#experience {
  background-color: #DBD2FF;
  font-family: Andika;
  border-bottom: 20px solid #39184D;
}

.text-4xl {
  text-align: center;
  padding-top: 60px;
}

.date {
  color: black
}

@media (max-width: 1024px) {
  .date {
    color: white;
  }
}

/* Contact Style */
#contact {
  padding: 80px;
  background-color: #DBD2FF;
  width: 100%;
  min-height: 70vh;
  justify-content: center;
  align-items: center;
  border-bottom: 20px solid #39184D;
  position: relative;
}

.contact-title {
  font-family: Andika;
  font-size: 48px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;

}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-email {
  margin-top: 20px;
  font-family: Andika;
  display: flex;
  justify-content: space-evenly;
}

.name-email label {
  padding-right: 10px;
}

.name-email input {
  margin-right: 10px;
  border-radius: 10px;
}

.sub-msg {
  margin-top: 50px;
  font-family: Andika;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sub-msg input,
.sub-msg textarea {
  border-radius: 10px;
}

button {
  font-family: Andika;
  margin-top: 20px;
  background-color: #543368;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

button:hover {
  background-color: #39184D;
}

.scroll-container {
  padding-top: 100px;
}

.scroll-to-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll-to-top svg {
  width: 40px;
  height: 40px;
  color: #39184D;
}

.scroll-to-top:hover::after {
  content: "Back to top";
  font-family: Andika;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  background: #543368;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

@media (max-width: 1024px) {

  #contact {
    width: 100%;
    overflow: auto;
    border-bottom: 20px solid #39184D;
  }

  .name-email label,
  .sub-msg label {
    display: block;
    text-align: left;
  }

  .name-email {
    display: flex;
    flex-direction: column;
  }

  .sub-msg {
    display: flex;
    flex-direction: column;
  }
}