@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
  padding-top: 60px;
}

/*Navigation Bar*/
.navbar-brand {
  font-family: Josefin Sans;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.navbar-style {
  background-color: #73478E;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-link {
  color: white;
  font-family: Josefin Sans;
  font-size: 20px;
}


/* Home Style */
#home {
  padding-top: 60px;
  background-color: #DBD2FF;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-intro img {
  padding: 5px;
}

.name {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
}

.major {
  font-family: Josefin Sans;
  font-style: normal;
  font-size: 40px;
  color: #555555;
}

/* About Style */